/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

body {
	border-top: solid 4px #333;
	font-size: 12px;
	color: #333;
	line-height: 1.5em;
	font-family: "ƒqƒ‰ƒMƒm–¾’© Pro W3", "Hiragino Mincho Pro", "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", sans-serif;
}

li {
	list-style-type: none;
}

h1#logo {
	margin: 0px 0 20px 10px;
	height: 30px;
}

h2#hello {
	margin: 15px 0 5px 10px;
	padding-bottom: 10px;
	border-bottom: double 1px #111111;
}
